# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain


#CanftIn config
*.h linguist-language=c++
*.hpp linguist-language=c++
*.cpp linguist-language=c++
*.c linguist-language=c++
*.java linguist-language=Java
*.sh linguist-language=bash
*.json linguist-language=json
*.fs linguist-language=fsharp
*.hs linguist-language=Haskell
*.lisp linguist-language=Common lisp
*.lua linguist-language=lua
*.js linguist-language=JavaScript
*.pde linguist-language=processing
*.py linguist-language=python
*.rs linguist-language=rust
*.scm linguist-language=Scheme
*.html linguist-language=Html